@use "variables" as *;
@use "mixins" as *;

.about {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin: 5rem auto;
  h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  img {
    display: block;
    max-width: 15rem;
    margin: 5rem auto;
  }
}
