@use "variables" as *;
@use "mixins" as *;

.banner-title {
    color: yellow;
}
.banner{
    display: block;
    object-fit: cover;
    min-height: 600px;
    max-width: 100%;
    height: auto;
}

@include mq($tablet) {
    
    .banner-title{
        color: pink;
    }
    .banner{
        padding: 10rem; 
    }
}


@include mq($desktop) {
    .banner-title{
        color: orange;
    }
    
    .banner{
        padding: 10rem; 
    }
}