.favorites-content {
  min-height: 100vh;
  .card .favorite,
  .card .favorited {
    position: static;
  }

  .favorites-title {
    display: block;
    text-align: center;
    margin: 2rem 0 2rem 10%;
  }

  .favorites-text {
    padding: 1rem;
    text-align: center;
  }
}
