@use "variables" as *;
@use "mixins" as *;

header.show nav {
  display: block;
}

header {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger {
      all: unset;
      font-size: 3rem;
      margin: 0.2rem 1rem;
      cursor: pointer;
    }
    img {
      width: 60px;
      margin: 0.5rem 1rem;
    }
  }
  nav {
    display: none;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      gap: 2rem;
      padding: 0.2rem;
      li {
        a {
          text-decoration: none;
          color: white;
          font-size: 1.2rem;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $primary-color-yellow;
          }
        }
      }
    }
  }
}

@include mq($tablet) {
  header {
    .header-container {
      align-items: center;
      .hamburger {
        display: none;
      }
    }
    nav {
      display: block;
      ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        li {
          a {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
