@use "variables" as *;
@use "mixins" as *;

header.show nav {
  display: block;
}

header {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger {
      all: unset;
      font-size: 3rem;
      margin: 0.2rem 1rem;
      cursor: pointer;
    }
    img {
      width: 60px;
      margin: 1rem 2rem;
    }
  }
  nav {
    display: none;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      gap: 2rem;
      padding: 0.2rem;
      li {
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
  .searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      margin-right: 1rem;
      font-size: 0.8rem;
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 3px 0 0 0;
      border: none;
      border-radius: 5px;
      background-color: $primary-color-yellow;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: red;
      }
    }
    img {
      width: 20px;
      margin: 0 0.5rem;
    }
  }
}

@include mq($tablet) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-container {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .hamburger {
        display: none;
      }
    }
    nav {
      display: flex;
      align-items: center;
      ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        li {
          a {
            font-size: 1.6rem;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $primary-color-yellow;
            }
          }
          &:last-child a {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
