@use "variables" as *;
@use "mixins" as *;


.movies-container {
    justify-content: center;
    padding: 0 1rem 2rem 1rem;
    column-gap: 5rem;
    row-gap: 3rem;
    min-height: 100vh;
}

@include mq($tablet){
    .movies-container{
        justify-content: flex-start;
    }
}

.movies-container-title{
    display: none;
}




