@use "variables" as *;
@use "mixins" as *;

// html, body, #root {
//   height: 100%;
//   margin: 0;
// }

.movies-container {
    justify-content: center;
    padding: 0 1rem 2rem 1rem;
    column-gap: 1.5rem;
    min-height: 100vh;

    
}

.movies-container-title{
    display: none;
}




